/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* App container */
.app {
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Search bar */
.search-bar {
  position: relative;
}

/* Loading indicator */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Pokemon details */
.pokemon-details {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Autosuggest styles */
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__suggestions-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 2;
}

.react-autosuggest__suggestion {
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  padding: 8px;
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

/* MUI Autocomplete dropdown height */
.MuiAutocomplete-paper {
  max-height: 200px; /* Adjust as needed */
}
