.moduloseevee {
    display: inline-grid;
    margin: 5px;
}

.moduloseevee {
    text-align: center;
    width: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.stats{
    padding: 10px;
}

.t4e {
    margin: 0px;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #1867c0;
}

.th4e {
    padding: 10px 0px 10px 0px;
    margin: 0px;
    color: #fff;
    font-weight: 300;
    font-size: 1.2rem;
}

.moduloseevee{background-color: #ffffff; border: 2px solid #000000;} 
.moduloseevee .t4e { background-color: #000000;}

.evochain {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border-spacing: 0;
    font-size: 0.9rem;
    color: #000;
    text-align: center;
    font-weight: bold;
}

.evochain td {
    padding: 8px;
}

.evochain .pkmn img {
    display: block;
    margin: 0 auto;
}

.evochain p {
    margin: 5px 0;
}

.pkmn {
    font-size: 1em;
    color: #000;
}

.subevolution {
    padding: 8px;
    background: #bdbbbb;
    text-align: center;
    border: 1px solid #383838;
    border-radius: 30px;
    width: 8rem;
}

.eevee{
    background: #bdbbbb;
    text-align: center;
    border: 1px solid #383838;
    padding: 10px 0px 10px 0px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.tabStats {
    border: 1px solid rgb(144, 144, 144);
}
.trStatsEx {
    display: flex;
    width: auto;
    border: 2px solid black;
    border-radius: 7px;
    background-color: rgb(189 187 187);
}
