.vertical-progress-container {
    display: flex;
    width: 50px;
  }
  
  .progress-name {
    text-align: center;
    width: 50px;
  }
  
  .acert {
    display: flow;
    width: 27rem;
    border: 2px solid black;
    border-radius: 7px;
    background-color: rgb(112, 112, 112);
  }
  
  .vertical-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    width: 50px;
  }
  
  .progress-name {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .progress-bar {
    width: 30px;
    height: 200px;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
    border: 1px solid #bbbbbb;
    border-radius: 15px;
    box-shadow: 0px 2px 4px #555555;
  }
  
  .doesnotexist:-o-prefocus, .progress-bar {
    border-radius: 0;
  }
  
  .progress-fill {
    width: 0;
    height: 30px;
    background-color: #3399ff;
    border-right: 1px solid #bbbbbb;
    transition: width 2s ease;
    background-image: linear-gradient(
      135deg,
      #3399ff 25%,
      #99ccff 25%,
      #99ccff 50%,
      #3399ff 50%,
      #3399ff 75%,
      #99ccff 75%,
      #99ccff 100%
    );
    background-image: -moz-linear-gradient(
      135deg,
      #3399ff 25%,
      #99ccff 25%,
      #99ccff 50%,
      #3399ff 50%,
      #3399ff 75%,
      #99ccff 75%,
      #99ccff 100%
    );
    background-image: -ms-linear-gradient(
      135deg,
      #3399ff 25%,
      #99ccff 25%,
      #99ccff 50%,
      #3399ff 50%,
      #3399ff 75%,
      #99ccff 75%,
      #99ccff 100%
    );
    background-image: -o-linear-gradient(
      135deg,
      #3399ff 25%,
      #99ccff 25%,
      #99ccff 50%,
      #3399ff 50%,
      #3399ff 75%,
      #99ccff 75%,
      #99ccff 100%
    );
    background-image: -webkit-gradient(
      linear,
      100% 100%,
      0 0,
      color-stop(.25, #99ccff),
      color-stop(.25, #3399ff),
      color-stop(.5, #3399ff),
      color-stop(.5, #99ccff),
      color-stop(.75, #99ccff),
      color-stop(.75, #3399ff),
      color-stop(1, #3399ff)
    );
    background-image: -webkit-linear-gradient(
      135deg,
      #3399ff 25%,
      #99ccff 25%,
      #99ccff 50%,
      #3399ff 50%,
      #3399ff 75%,
      #99ccff 75%,
      #99ccff 100%
    );
    background-size: 40px 40px;
    animation: bganim 3s linear 2s infinite;
  }
  
  @keyframes bganim {
    from {
      background-position: 0px;
    }
    to {
      background-position: 40px;
    }
  }
  
  @-moz-keyframes bganim {
    from {
      background-position: 0px;
    }
    to {
      background-position: 40px;
    }
  }
  
  @-webkit-keyframes bganim {
    from {
      background-position: 0px;
    }
    to {
      background-position: 40px;
    }
  }
  
  @-o-keyframes bganim {
    from {
      background-position: 0px;
    }
    to {
      background-position: 40px;
    }
  }
  
  @-ms-keyframes bganim {
    from {
      background-position: 0px;
    }
    to {
      background-position: 40px;
    }
  }
  