* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "cabecalho"
        "principal"
        "rodape";
}

.cabecalho {
    grid-area: cabecalho;
    background-color: #1867c0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
}

.cabecalho > h1 {
    margin: 0px;
    font-weight: 300;
    font-size: 2.8rem;
}

.cabecalho > h2 {
    margin: 0px;
    font-weight: 200;
    font-size: 1.6rem;
}

.principal {
    grid-area: principal;
    height: calc(100vh - 180px);
    background-color: #f0f0f0;
    padding: 20px;
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

.rodape {
    grid-area: rodape;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: #444;
}

.modulos {
    display: inline-grid;
    margin: 5px;
}

.modulo {
    flex-basis: 3%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.modulo > h3 {
    margin: 0px;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #1867c0;
}

.modulo > ul {
    margin: 0px;
    padding: 10px;
    list-style: none;
}

.modulo > ul > li {
    padding: 7px;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.modulo > ul > li > a {
    display: flex;
    text-decoration: none;
    color: #222;
}

.modulo > ul > li:hover {
    background-color: #EEE;
}


.modulo.undefined{background-color: #ffffff; border: 2px solid #000000;} 
.modulo.undefined > h3 { background-color: #000000;}

.modulo.bug{background-color: #4CAF50; border: 2px solid #4CAF50;} 
.modulo.bug > h3 { background-color: #282828; border-radius: 5px;}
.modulo.dark{background-color: #332d1f; border: 2px solid #332d1f;} 
.modulo.dark > h3 { background-color: #7272725b; border-radius: 5px;}
.modulo.dragon{background-color: #4f3fac; border: 2px solid #4f3fac;}
.modulo.dragon > h3 { background-color: #332d1f; border-radius: 5px;} 
.modulo.elect{background-color: #dac71c; border: 2px solid #dac71c;} 
.modulo.elect > h3 { background-color: #332d1f; border-radius: 5px;}
.modulo.fhgt{background-color: #bb0505; border: 2px solid #bb0505;} 
.modulo.fhgt > h3 { background-color: #080505b8; border-radius: 5px;}
.modulo.fire{background-color: #ff7300; border: 2px solid #ff7300;} 
.modulo.fire > h3 { background-color: #080505b8; border-radius: 5px;}
.modulo.flying{background-color: #54b8c5; border: 2px solid #54b8c5;}
.modulo.flying > h3 { background-color: #1867c0; border-radius: 5px;}
.modulo.ghost{background-color: #470e75; border: 2px solid #470e75;}
.modulo.ghost > h3 { background-color: #3116c9c2; border-radius: 5px;}
.modulo.grass{background-color: #03e60b; border: 2px solid #03e60b;} 
.modulo.grass > h3 { background-color: #156a00c2; border-radius: 5px;}
.modulo.ground{background-color: #b3a52a; border: 2px solid #b3a52a;} 
.modulo.ground > h3 { background-color: #837818; border-radius: 5px;}
.modulo.ice{background-color: #00e1ff; border: 2px solid #00e1ff;}
.modulo.ice > h3 { background-color: #1867c0; border-radius: 5px;}
.modulo.normal{background-color: #afa57a; border: 2px solid #afa57a;}
.modulo.normal > h3 { background-color: #8b8364; border-radius: 5px;}
.modulo.poison{background-color: #ae00ff; border: 2px solid #ae00ff;}
.modulo.poison > h3 { background-color: #7f03b9; border-radius: 5px;}
.modulo.psychic{background-color: #e54ceb; border: 2px solid #e54ceb;}
.modulo.psychic > h3 { background-color: #a439a9; border-radius: 5px;}
.modulo.rock{background-color: #c09d00; border: 2px solid #c09d00;}
.modulo.rock > h3 { background-color: #917702; border-radius: 5px;}
.modulo.steel{background-color: #baccce; border: 2px solid #baccce;}
.modulo.steel > h3 { background-color: #8b9799; border-radius: 5px;}
.modulo.water{background-color: #008cff; border: 2px solid #008cff;}
.modulo.water > h3 { background-color: #1867c0; border-radius: 5px;}

.cont {
    display: block;
    text-align: center;
}

.button {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 7px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

.button.bug{background-color: #4CAF50; border: 2px solid #4CAF50;} 
.button.dark{background-color: #332d1f; border: 2px solid #332d1f;} 
.button.drag{background-color: #4f3fac; border: 2px solid #4f3fac;} 
.button.elect{background-color: #dac71c; border: 2px solid #dac71c;} 
.button.fhgt{background-color: #bb0505; border: 2px solid #bb0505;} 
.button.fire{background-color: #ff7300; border: 2px solid #ff7300;} 
.button.flying{background-color: #54b8c5; border: 2px solid #54b8c5;}
.button.ghost{background-color: #470e75; border: 2px solid #470e75;}
.button.grass{background-color: #03e60b; border: 2px solid #03e60b;} 
.button.ground{background-color: #b3a52a; border: 2px solid #b3a52a;} 
.button.ice{background-color: #00e1ff; border: 2px solid #00e1ff;}
.button.normal{background-color: #afa57a; border: 2px solid #afa57a;}
.button.poison{background-color: #ae00ff; border: 2px solid #ae00ff;}
.button.psychic{background-color: #e54ceb; border: 2px solid #e54ceb;}
.button.rock{background-color: #c09d00; border: 2px solid #c09d00;}
.button.steel{background-color: #baccce; border: 2px solid #baccce;}
.button.water{background-color: #008cff; border: 2px solid #008cff;}
